UnityPlugins/WP8Plugin/obj/ARM/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UnityPlugins/WP8Plugin/obj/ARM/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UnityPlugins/WindowsPlugin/obj/Release/WindowsPlugin.csprojResolveAssemblyReference.cache
UnityPlugins/WindowsPlugin/obj/Release/WindowsPlugin.csproj.FileListAbsolute.txt
UnityPlugins/WP8Plugin/obj/x86/Release/WP8Plugin.csproj.FileListAbsolute.txt
UnityPlugins/WP8Plugin/obj/x86/Release/UnityPlugins.pdb
UnityPlugins/WP8Plugin/obj/x86/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UnityPlugins/WP8Plugin/obj/x86/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UnityPlugins/WP8Plugin/obj/ARM/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UnityPlugins/WP8Plugin/obj/x86/Release/UnityPlugins.dll
UnityPlugins/WP8Plugin/obj/x86/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UnityPlugins/WindowsPlugin/obj/Release/UnityPlugins.pdb
UnityPlugins/WP8Plugin/obj/x86/Release/WP8Plugin.csprojResolveAssemblyReference.cache
UnityPlugins/WindowsPlugin/obj/Release/UnityPlugins.dll
UnityPlugins/WP8Plugin/obj/ARM/Release/WP8Plugin.csprojResolveAssemblyReference.cache
DemoGame/WP8/DemoGame/obj/ARM/Release/App.g.i.cs
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/Assembly-CSharp.dll
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/JsonFx.dll
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/MockIAPLib.dll
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/UnityEngineDelegates.winmd
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/UnityPlayer.dll
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/UnityPlayer.winmd
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/BridgeInterface.dll
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/MDILFileList.xml
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/WinRTBridge.dll
DemoGame/WP8/DemoGame/obj/ARM/Release/MainPage.g.i.cs
DemoGame/WP8/DemoGame/obj/ARM/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DemoGame/WP8/DemoGame/obj/ARM/Release/TempPE/Resources.AppResources.Designer.cs.dll
DemoGame/WP8/DemoGame/obj/x86/Release/App.g.cs
DemoGame/WP8/DemoGame/obj/ARM/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/UnityPlugins.dll
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/UnityEngineDelegates.dll
DemoGame/WP8/DemoGame/obj/ARM/Release/MDILCacheFile.xml
DemoGame/WP8/DemoGame/obj/x86/Release/App.g.i.cs
DemoGame/WP8/DemoGame/obj/ARM/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DemoGame/WP8/DemoGame/obj/x86/Release/DemoGame.Resources.AppResources.resources
DemoGame/WP8/DemoGame/obj/x86/Release/DemoGame.csproj.FileListAbsolute.txt
DemoGame/WP8/DemoGame/obj/x86/Release/DemoGame.csproj.GenerateResource.Cache
DemoGame/WP8/DemoGame/obj/x86/Release/DemoGame.dll
DemoGame/WP8/DemoGame/obj/x86/Release/DemoGame.g.resources
DemoGame/WP8/DemoGame/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/WinRTLegacy.dll
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/WinRTLegacy.dll
DemoGame/WP8/DemoGame/obj/x86/Release/DemoGame.csprojResolveAssemblyReference.cache
DemoGame/WP8/DemoGame/obj/x86/Release/DemoGame.pdb
DemoGame/WP8/DemoGame/obj/x86/Release/MainPage.g.cs
DemoGame/WP8/DemoGame/obj/x86/Release/MainPage.g.i.cs
DemoGame/WP8/DemoGame/obj/x86/Release/TempPE/Resources.AppResources.Designer.cs.dll
DemoGame/WP8/DemoGame/obj/x86/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DemoGame/WP8/DemoGame/obj/x86/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DemoGame/WP8/DemoGame/obj/x86/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/UnityEngine.dll
DemoGame/WP8/DemoGame/obj/x86/Release/XapCacheFile.xml
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/UnityEngineProxy.dll
DemoGame/WP8/DemoGame/obj/ARM/Release/DesignTimeResolveAssemblyReferencesInput.cache
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/DemoGame.dll
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/MDILXapCompileLog.txt
DemoGame/WP8/DemoGame/obj/ARM/Release/MDIL/BridgeInterface.winmd
DemoGame/WP8/DemoGame/Bin/x86/Release/AppManifest.xaml
DemoGame/WP8/DemoGame/Bin/x86/Release/Assembly-CSharp.pdb
DemoGame/WP8/DemoGame/Bin/x86/Release/Assets/ApplicationIcon.png
DemoGame/WP8/DemoGame/Bin/x86/Release/Assets/Tiles/FlipCycleTileLarge.png
DemoGame/WP8/DemoGame/Bin/x86/Release/Assets/Tiles/FlipCycleTileSmall.png
DemoGame/WP8/DemoGame/Bin/x86/Release/BridgeInterface.pdb
DemoGame/WP8/DemoGame/Bin/x86/Release/BridgeInterface.dll
UnityPlugins/WP8Plugin/Bin/x86/Release/UnityPlugins.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/Assembly-CSharp.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/BridgeInterface.winmd
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/DemoGame.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/BridgeInterface.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/JsonFx.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/UnityEngine.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/MockIAPLib.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/UnityEngineDelegates.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/UnityPlayer.winmd
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/UnityPlayer.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/UnityEngineProxy.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/UnityEngineDelegates.winmd
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/WMAppManifest.xml
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/WinRTLegacy.dll
DemoGame/WP8/DemoGame/Bin/x86/Release/Assets/Tiles/FlipCycleTileMedium.png
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/UnityPlugins.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/MDIL/WinRTBridge.dll
DemoGame/WP8/DemoGame/Bin/x86/Release/Assets/Tiles/IconicTileMediumLarge.png
DemoGame/WP8/DemoGame/Bin/x86/Release/Assets/Tiles/IconicTileSmall.png
DemoGame/WP8/DemoGame/Bin/x86/Release/Data/PlayerConnectionConfigFile
DemoGame/WP8/DemoGame/Bin/x86/Release/BridgeInterface.winmd
DemoGame/WP8/DemoGame/Bin/x86/Release/Data/Resources/unity_builtin_extra
DemoGame/WP8/DemoGame/Bin/x86/Release/Data/Resources/unity default resources
DemoGame/WP8/DemoGame/Bin/x86/Release/Data/mainData
DemoGame/WP8/DemoGame/Bin/x86/Release/Data/sharedassets0.assets
DemoGame/WP8/DemoGame/Bin/x86/Release/Data/sharedassets1.assets
DemoGame/WP8/DemoGame/Bin/x86/Release/DemoGame.pdb
DemoGame/WP8/DemoGame/Bin/x86/Release/Data/level0
DemoGame/WP8/DemoGame/Bin/x86/Release/DemoGame.dll
DemoGame/WP8/DemoGame/Bin/x86/Release/JsonFx.dll
DemoGame/WP8/DemoGame/Bin/x86/Release/Data/managedAssemblies.txt
DemoGame/WP8/DemoGame/Bin/x86/Release/DemoGame_Release_x86.xap
DemoGame/WP8/DemoGame/Bin/x86/Release/JsonFx.xml
DemoGame/WP8/DemoGame/Bin/x86/Release/Properties/WMAppManifest.xml
DemoGame/WP8/DemoGame/Bin/x86/Release/UnityEngine.pdb
DemoGame/WP8/DemoGame/Bin/x86/Release/UnityEngine.dll
DemoGame/WP8/DemoGame/Bin/x86/Release/UnityEngineDelegates.pdb
DemoGame/WP8/DemoGame/Bin/x86/Release/UnityEngineDelegates.dll
DemoGame/WP8/DemoGame/Bin/x86/Release/UnityEngineProxy.pdb
DemoGame/WP8/DemoGame/Bin/x86/Release/UnityPlayer.dll
DemoGame/WP8/DemoGame/Bin/x86/Release/MockIAPLib.dll
DemoGame/WP8/DemoGame/Bin/x86/Release/UnityEngineProxy.dll
DemoGame/WP8/DemoGame/Bin/x86/Release/UnityPlayer.winmd
DemoGame/WP8/DemoGame/Bin/x86/Release/UnityPlayer.pdb
DemoGame/WP8/DemoGame/Bin/x86/Release/WinRTBridge.dll
DemoGame/WP8/DemoGame/Bin/x86/Release/UnityPlugins.pdb
DemoGame/WP8/DemoGame/Bin/x86/Release/WinRTBridge.pdb
DemoGame/WP8/DemoGame/Bin/x86/Release/WinRTLegacy.pdb
DemoGame/WP8/DemoGame/Bin/x86/Release/WinRTLegacy.dll
DemoGame/WP8/DemoGame/Bin/x86/Release/UnityPlugins.dll
DemoGame/WP8/DemoGame/Bin/x86/Release/UnityEngineDelegates.winmd
DemoGame/WP8/DemoGame/obj/ARM/Release/XapCacheFile.xml
DemoGame/WP8/DemoGame/obj/ARM/Release/DemoGame.csproj.GenerateResource.Cache
DemoGame/WP8/DemoGame/obj/ARM/Release/DemoGame.csprojResolveAssemblyReference.cache
DemoGame/WP8/DemoGame/obj/ARM/Release/DemoGame.dll
DemoGame/WP8/DemoGame/obj/ARM/Release/DemoGame.csproj.FileListAbsolute.txt
DemoGame/WP8/DemoGame/Bin/ARM/Release/WinRTLegacy.pdb
DemoGame/WP8/DemoGame/obj/ARM/Release/App.g.cs
DemoGame/WP8/DemoGame/obj/ARM/Release/DemoGame.Resources.AppResources.resources
DemoGame/WP8/DemoGame/Bin/ARM/Release/WinRTLegacy.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/WinRTBridge.pdb
DemoGame/WP8/DemoGame/obj/ARM/Release/DemoGame.g.resources
DemoGame/WP8/DemoGame/Bin/ARM/Release/WinRTBridge.dll
DemoGame/WP8/DemoGame/obj/ARM/Release/DemoGame.pdb
DemoGame/WP8/DemoGame/obj/ARM/Release/MainPage.g.cs
DemoGame/WP8/DemoGame/Bin/ARM/Release/UnityEngineProxy.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/UnityEngineProxy.pdb
DemoGame/WP8/DemoGame/Bin/ARM/Release/UnityEngineDelegates.winmd
DemoGame/WP8/DemoGame/Bin/ARM/Release/UnityPlayer.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/UnityEngineDelegates.pdb
DemoGame/WP8/DemoGame/Bin/ARM/Release/UnityEngine.pdb
DemoGame/WP8/DemoGame/Bin/ARM/Release/MockIAPLib.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/Properties/WMAppManifest.xml
DemoGame/WP8/DemoGame/Bin/ARM/Release/JsonFx.xml
DemoGame/WP8/DemoGame/Bin/ARM/Release/DemoGame_Release_ARM.xap
DemoGame/WP8/DemoGame/Bin/ARM/Release/DemoGame.pdb
DemoGame/Temp/__EditModeScene
DemoGame/Temp/UnityLockfile
DemoGame/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
DemoGame/WP8/DemoGame/Bin/ARM/Release/UnityPlugins.pdb
DemoGame/WP8/DemoGame/Bin/ARM/Release/AppManifest.xaml
DemoGame/WP8/DemoGame/Bin/ARM/Release/Assembly-CSharp.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/Assembly-CSharp.pdb
DemoGame/WP8/DemoGame/Bin/ARM/Release/Assets/ApplicationIcon.png
DemoGame/WP8/DemoGame/Bin/ARM/Release/Assets/Tiles/FlipCycleTileLarge.png
DemoGame/WP8/DemoGame/Bin/ARM/Release/Assets/Tiles/FlipCycleTileMedium.png
DemoGame/WP8/DemoGame/Bin/ARM/Release/Assets/Tiles/FlipCycleTileSmall.png
DemoGame/WP8/DemoGame/Bin/ARM/Release/Assets/Tiles/IconicTileMediumLarge.png
DemoGame/WP8/DemoGame/Bin/ARM/Release/Assets/Tiles/IconicTileSmall.png
DemoGame/WP8/DemoGame/Bin/ARM/Release/BridgeInterface.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/BridgeInterface.winmd
DemoGame/WP8/DemoGame/Bin/ARM/Release/Data/Resources/unity default resources
DemoGame/WP8/DemoGame/Bin/ARM/Release/Data/Resources/unity_builtin_extra
DemoGame/WP8/DemoGame/Bin/ARM/Release/Data/PlayerConnectionConfigFile
DemoGame/WP8/DemoGame/Bin/ARM/Release/BridgeInterface.pdb
DemoGame/WP8/DemoGame/Bin/ARM/Release/Data/level0
DemoGame/WP8/DemoGame/Bin/ARM/Release/Data/managedAssemblies.txt
DemoGame/WP8/DemoGame/Bin/ARM/Release/Data/mainData
DemoGame/WP8/DemoGame/Bin/ARM/Release/Data/sharedassets1.assets
DemoGame/WP8/DemoGame/Bin/ARM/Release/UnityEngine.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/Data/sharedassets0.assets
DemoGame/WP8/DemoGame/Bin/ARM/Release/DemoGame.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/JsonFx.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/UnityEngineDelegates.dll
DemoGame/WP8/DemoGame/Bin/ARM/Release/UnityPlayer.pdb
DemoGame/WP8/DemoGame/Bin/ARM/Release/UnityPlayer.winmd
DemoGame/WP8/DemoGame/Bin/ARM/Release/UnityPlugins.dll
DemoGame/WP8/DemoGame/obj/ARM/Master/MDIL/JsonFx.dll
DemoGame/WP8/DemoGame/obj/ARM/Master/MDIL/JsonFx.dll
DemoGame/WP8/DemoGame/obj/ARM/Master/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DemoGame/WP8/DemoGame/obj/ARM/Master/App.g.i.cs
DemoGame/WP8/DemoGame/obj/ARM/Master/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DemoGame/WP8/DemoGame/obj/ARM/Master/DesignTimeResolveAssemblyReferencesInput.cache
DemoGame/WP8/DemoGame/obj/ARM/Master/MainPage.g.i.cs
DemoGame/WP8/DemoGame/obj/ARM/Master/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DemoGame/WP8/DemoGame/obj/ARM/Master/Hud/StorePage.g.i.cs
UnityPlugins/WindowsPlugin/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
UnityPlugins/WP8Plugin/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache