<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2008/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>
        MemoryCapability
      </Title>
    </Header>
    <Snippet>
      <Code Language="XML">
        <![CDATA[
        <FunctionalCapabilities>
    <FunctionalCapability Name="ID_FUNCCAP_EXTEND_MEM"/>
  </FunctionalCapabilities>
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>