<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2008/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>
        MemoryPrerequisite
      </Title>
    </Header>
    <Snippet>
      <Code Language="XML">
        <![CDATA[
        xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest"
        <Prerequisites>
  <m3:MinDeviceMemory>1GB</m3:MinDeviceMemory>
</Prerequisites>
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>