<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2008/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>
        MemoryRequirement
      </Title>
    </Header>
    <Snippet>
      <Code Language="XML">
        <![CDATA[
        <Requirements>
    <Requirement Name="ID_REQ_MEMORY_300"/>
  </Requirements>
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>