<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2008/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>
        OnClickBuyIap
      </Title>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[private void OnClickBuy(object sender, RoutedEventArgs e)
        {
            NavigationService.Navigate(new Uri("/Hud/StorePage.xaml", UriKind.Relative));
        }]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>