<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2008/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>
        U3DBackButtonPress
      </Title>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[if (Input.GetKeyDown(KeyCode.Escape)) 
        {
            Debug.Log("ESCAPE Input key down");
            Application.Quit(); 
        }]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>